@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

// font variables
$primary-font: 'Lato', sans-serif;

// color variables
$purple: #8477c9;
$light-purple: #e7e7ff;
$white: #ffffff;
$black: #000000;
$dis-bg: #e4e4e4;
$disabled: #848484;
